.add-favorite{
    top: 4px;
    right: 1%;
    position: fixed;
    background-color: transparent;
}
.add-favorite-ios{
    top: 100px;
    right: 1%;
    position: fixed;
    background-color: transparent;
}
